
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mvc Stok</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Kategori/Index">Kategoriler</a></li>
                <li><a href="/Urun/Index">Ürünler</a></li>
                <li><a href="/Musteri/Index">Müşteriler</a></li>
                <li><a href="/Satis/Index">Satışlar</a></li>
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#Modal1">Hakkında</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Hakkımda</h2>
                </div>
                <div class="modal-body">
                    <h3 style="font-weight:bold; color:darkslategray">Mehmet Kadir GÜNGÖR</h3>
                    <h4 style="font-weight:400; color:darkslategray">Balıkesir Üniversitesi | Bilgisayar Mühendisliği 4.Sınıf Öğrencisi</h4>
                    <h4 style="font-weight:400; color:darkslategray">kadir@gmail.com</h4>
                    <h4 style="font-weight:400; color:darkslategray">+90 554 657 43 32</h4>
                    <h4 style="font-weight:400; color:darkslategray">Şehitkamil/GAZİANTEP</h4>
                    <h5 style="font-weight:400; color:darkslategray">Bu proje Mehmet Kadir GÜNGÖR tarafından yapılmıştır ve hakları ona aittir.</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
