@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Ürün Ekleme Sayfası</h2>

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" placeholder="Ürün Adını Giriniz..." required maxlength="20" />
    </div>
    <div style="margin-top:15px">
        <label>Marka</label>
        <input type="text" class="form-control" placeholder="Ürün Markasını Giriniz..." name="MARKA" required />
    </div>
    <div style="margin-top:15px">
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class="form-control"})
    </div>
    <div style="margin-top:15px">
        <label>Fiyat</label>
        <input type="text" class="form-control" placeholder="Ürün Fiyatını Giriniz..." name="FIYAT" required />
    </div>
    <div style="margin-top:15px">
        <label>Stok</label>
        <input type="text" class="form-control" placeholder="Ürün Stok Sayısını Giriniz..." name="STOK" required />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success mt-2">Yeni Ürün Ekle</button>
    </div>
</form>